<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmm.tools.mapper.MaterialMapper">
    <resultMap id="materialListResultMap" type="com.xmm.tools.entity.MaterialVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="type"/>
        <result column="name" property="authorName"/>
        <result column="classify" property="classify"/>
        <result column="ref_counter" property="refCounter"/>
    </resultMap>
    <select id="getMaterialList" resultMap="materialListResultMap" parameterType="com.xmm.tools.entity.query.FilterMaterial">
        SELECT
            t1.`id`,t1.`title`,t1.`update_time`,t1.`type`,t1.`ref_counter`,t4.`name`,t2.`title` classify,t1.`ref_counter`
        FROM
            (`caibei_material` t1,`caibei_material_classify` t2)
                RIGHT JOIN (
                SELECT
                    t1.`id`,t2.`name`
                FROM
                    `caibei_material` t1,`blade_user` t2
                WHERE
                    t2.`name` like concat('%',#{filter.keyword},'%')
                  AND
                    t1.`author` = t2.`id`
                UNION
                SELECT
                    t1.`id`,t2.`name`
                FROM
                    `caibei_material` t1,`blade_user` t2
                WHERE
                    t1.`title` like concat('%',#{filter.keyword},'%')
                  AND
                    t1.`author` = t2.`id`) t4
                           ON
                               t1.`id` = t4.`id`
        <where>
            t1.`classify_id` = t2.`id`
          <if test="filter.classifyId != null">
            t2.`id` = #{filter.classifyId}
          </if>
          <if test="filter.type != null">
            t1.`type` = #{filter.type}
          </if>
            t1.`update_time` between #{filter.beginTime} and #{filter.endTime}
        ORDER BY
            t1.`update_time` DESC, t1.`ref_counter` DESC
        LIMIT
            #{filter.page},#{filter.pageSize};
        </where>
    </select>
</mapper>
